nav {
  background-color: #444;
  padding: 10px 0;

  ul {
    list-style-type: none;
    text-align: center;

    li {
      display: inline;
      margin: 0 15px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
